DB_USER=nome do usuario
DB_HOST=nome do host
DB_NAME=nome do banco
DB_PASSWORD=senha do banco
DB_PORT=porta do banco
JWT_SECRET=secret para o token

#A conexão com o PostgreSQL deve ficar no back-end. O front-end não deve acessar o banco diretamente, porque as credenciais e a lógica de acesso precisam ficar protegidas no servidor.